body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.produto {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: 300px; /* Largura fixa */
    min-height: 400px; /* Altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 4px;
}

#carrinho {
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 1em;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}
