body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
#produtos {
    flex: 3;
    
}
.produto {
    background: #ffffff;
    border: 1px solid #ddd;
    margin:  0.5em 0;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
}
.produto img {
    max-width: 150%;
    margin-bottom: 1em;
}
#carrinho {
    flex: 1;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
}
button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}
button:hover {
    background-color: #45a049;
}